# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
atlassian-ide-plugin.xml

# gradle
build
.gradle

# other
eclipse
run
classes

*.jar
!/gradle/wrapper/gradle-wrapper.jar



